/*
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
*/

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

form {
    max-width: 800px;
    margin: 0 auto;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

fieldset {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    position: relative;
}

legend {
    font-weight: bold;
}

label {
    display: block;
    margin-bottom: 8px;
}

input, select, button {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: auto;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
}

    button:hover {
        background-color: #0056b3;
    }

.remove-stage {
    background-color: #FF0000;
    color: white;
    padding: 5px 10px;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 14px;
}

    .remove-stage:hover {
        background-color: #cc0000;
    }

.buttons {
    display: flex;
    gap: 10px;
}

.hidden {
    display: none;
}

#summary-view {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    background: #f9f9f9;
}

.ost {
    background-color: #FF4a4a;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem; /* Footer height */
}

/* Ograniczenie listy rozwijanej do 10 elementów z przewijaniem */
select {
    overflow-y: auto; /* Dodanie przewijania w pionie */
    display: block; /* Upewnij siê, ¿e select ma przewijanie */
}

    /* Stylizacja suwaka */
    select::-webkit-scrollbar {
        width: 8px;
    }

    select::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    select::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 4px;
    }

        select::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
