@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Witaj w systemie Odyseusz</h1>
                <p>System Odyseusz pozwala na zgłaszanie podróży zagranicznych w sposób szybki i wygodny.</p>

                <!-- Przycisk do zgłaszania podróży -->
                <a href="@Url.Action("Create", "ZgloszeniePodrozy")" class="btn btn-primary btn-lg">Zgłoś podróż</a>

                <h2>Dlaczego warto zgłosić podróż?</h2>
                <p><strong>Prostota:</strong> Wystarczy kilka kliknięć, aby zgłosić podróż.</p>
                <p><strong>Bezpieczeństwo:</strong> Zgłoszenie podróży zapewnia zgodność z przepisami.</p>
                <p><strong>Kontrola:</strong> System pomaga w monitorowaniu wydatków i czasu podróży.</p>
                <p><strong>Optymalizacja:</strong> Dzięki Odyseuszowi podróże są lepiej planowane i zarządzane.</p>
            </div>
        </div>
    </div>
</body>
